<style>
    .mdl-data-table {
        table-layout:fixed;
        width:100%;
    }
    #my-table td, th {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }


    /* unrelated to responsive table css */
    #my-table{
      margin-top:24px;
    }
    .mdl-data-table th, td{
      text-align: left !important;
    }
    .center{
      text-align:center;
    }
</style>


<section class="mdl-grid" id="my-table">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-cell--stretch">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-controller="ActiviteitCtrl">
      <h4>Activiteiten </h4>
      <thead style="width: 100%">
        <tr style="background-color: #e2fff6">
          <th class="mdl-data-table__cell--non-numeric"> naam </th>
          <th class="mdl-data-table__cell--non-numeric"> info </th>
          <th class="mdl-data-table__cell--non-numeric"> datum </th>
          <th class="mdl-data-table__cell--non-numeric"> tijdstip </th>
          <th class="mdl-data-table__cell--non-numeric"> locatie </th>
          <th class="mdl-data-table__cell--non-numeric"> campus </th>
          <th class="mdl-data-table__cell--non-numeric"> adres </th>
          <th class="mdl-data-table__cell--non-numeric"> Status </th>
          <th style="width: 100px"> Actie </th>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #e2fff6">


                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="naam" ng-model="activiteit.naam" placeholder="naam">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="info"  ng-model="activiteit.info" placeholder="Info"></textarea>
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Datum" ng-model="activiteit.datum" placeholder="Datum">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Tijdstip" ng-model="activiteit.tijdstip" placeholder="Tijdstip">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Locatie"  ng-model="activiteit.locatie" placeholder="Locatie">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Campus" ng-model="activiteit.campus" placeholder="Campus">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="Adres" placeholder="Adres"  ng-model="activiteit.adres"></textarea>
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric" >
                  <div class="mdl-textfield mdl-js-textfield" id="vereniging">
                    <input class="mdl-textfield__input" type="text" id="Status" ng-model="activiteit.goedkeuring='AFW'" disabled="disabled">
                  </div>
                </td>

                <td style="width: 100px">
                  <form method="post" action="/activiteiten">
                    <input type="hidden" name="gebruiker" value={{user.username}}>
                    <input type="hidden" name="iswerknemer" value={{user.werknemer}}>
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="addActiviteit('{{user.email}}')" type="submit">
                      <i class="material-icons">add</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="update()">
                      <i class="material-icons">publish</i>
                    </button>
                  </form>
                </td>
        </tr>
        <tr ng-repeat="activiteit in activiteitenList">
          <td><p ng-bind="activiteit.naam"></p></td>
          <td><p ng-bind="activiteit.info"></p></td>
          <td><p ng-bind="activiteit.datum"></p></td>
          <td><p ng-bind="activiteit.tijdstip"></p></td>
          <td><p ng-bind="activiteit.locatie"></p></td>
          <td><p ng-bind="activiteit.campus"></p></td>
          <td><p ng-bind="activiteit.adres"></p></td>
          <td><p ng-bind="activiteit.goedkeuring"></p></td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-if="'{{user.email}}' === activiteit.email || '{{user.werknemer}}' === 'true'" ng-click="removeActiviteit(activiteit._id)">
              <i class="material-icons">delete</i>
            </button>
            <div id="wijzig">
              <button ng-if="'{{user.email}}' === activiteit.email || '{{user.werknemer}}' === 'true'" ng-if="activiteit.goedkeuring == 'AFW'" class="mdl-button mdl-js-button mdl-button--icon" ng-click="editActiviteit(activiteit._id)">
                <i class="material-icons">create</i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</section>




<script type="text/javascript">
    if({{user.werknemer}} === true){
      var div = '<input class="mdl-textfield__input" type="text" id="Status" ng-model="activiteit.goedkeuring=\'AFW\'" disabled="disabled">';
      document.getElementById('vereniging').innerHTML = div;
      var div2 = '<button class="mdl-button mdl-js-button mdl-button--icon" ng-click="editActiviteit(activiteit._id)"><i class="material-icons">create</i></button><form method="post" ng-if="activiteit.goedkeuring == \'NOK\' || activiteit.goedkeuring == \'AFW\'" action="/activiteiten/accept"><input type="hidden" name="email" ng-value="activiteit.email"><input type="hidden" name="_id" ng-value="activiteit._id" ng-value="activiteit._id"><input type="hidden" name="naam" ng-value="activiteit.naam"><input type="hidden" name="goedkeuring" ng-value="activiteit.goedkeuring" ng-value="activiteit.goedkeuring"><button class="mdl-button mdl-js-button mdl-button--icon" type="submit"><i class="material-icons">thumb_up</i></button></form>';

	  var div3 = '<form method="post" ng-if="activiteit.goedkeuring == \'OK\' || activiteit.goedkeuring == \'AFW\'" action="/activiteiten/deny"><input type="hidden" ng-model="activiteit.naam" ng-value="activiteit.naam" name="naam"><input type="hidden" name="email" ng-value="activiteit.email"><input type="hidden" ng-model="activiteit._id" ng-value="activiteit._id" name="_id"><button class="mdl-button mdl-js-button mdl-button--icon" type="submit"><i class="material-icons">thumb_down</i></button>';
	  var div4 = div2 + div3;
      document.getElementById('wijzig').innerHTML = div4;
    }
  </script>
